# Requirements.txt
#
# The different package that should be used in order to
# develop and tests this component.
#
# __author__ = fla
pbr>=1.6

python-glanceclient
python-openstackclient
python-neutronclient
python-novaclient
-e git+https://github.com/ging/python-keystoneclient.git#egg=python-keystoneclient

requests
docopt==0.6.1
