# Requirements.txt
#
# The different package that should be used in order to
# develop and tests this component.
#
# __author__ = fla
pbr>=1.6

python-glanceclient
python-keystoneclient
python-openstackclient
python-neutronclient
python-novaclient


requests!=2.9.0,>=2.8.1 # Apache-2.0

docopt==0.6.1
